body{
    background-image: url(Imagens/fundopreco.jpg);
    background-repeat: no-repeat, repeat;
    background-size: 100%;
}

#titulo{
    font-family: monospace;
    font-size: 50px;
    color: rgb(16, 37, 54);
    text-align: center;
    margin-top: 0px;
}

#menu{
    font-family: FreeMono, monospace;
    font-size: 20px;
    text-align: center;
    margin-bottom: 3%;
    text-decoration: none;
    bottom: 5px;
}

a{
    color: rgb(2, 2, 2);
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#img{
    text-align: center;
}

.image{
    border-radius: 20%;
    width: 500px;
}

#subtitulo{
    font-family: monospace;
    font-size: 20px;
    color: rgb(25, 63, 107);
    text-align: center;
    margin-top: 2%;
    margin-bottom: 3%;
}

#info{
    font-family: monospace;
    font-size: 20px;
    color: rgb(3, 3, 3);
    text-align: center;
}